$navbar-default-bg: #212121;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #ffffff;
    text-decoration: none;
}

.center {
    text-align: center;
}

footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777777;
}

float a:hover{
    color: #212121;
}

footer small {
    float: left;
}

footer ul{
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}
